In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import h5py

## Third Optimisation
 - Return all hyperparameters to First Optimisation (highest accuracy model so far) except activation function is changed to Tanh

In [51]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [52]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], 1)
application_df.head()

C:\Users\kalio\AppData\Local\Temp\ipykernel_12392\1996159089.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(['EIN', 'NAME'], 1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

## Optimisation 1: Binning more Application & Classification categorical values

In [53]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [54]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [55]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [56]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[classification_counts < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

## Encoding Categorical & Numerical variables

In [57]:
#Generate list of categorical variables
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [58]:
#Check the number of unique values in each cat column
application_df[application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

All categorical variables have less than 10 categorical values; no further bucketing/binning required.

In [59]:
# Convert categorical data to numeric with `pd.get_dummies`
encode_df = pd.get_dummies(application_df[application_cat])

#Check df
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [60]:
#Merge the encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(application_cat, 1)

#Check df
application_df.head()

C:\Users\kalio\AppData\Local\Temp\ipykernel_12392\2787541493.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(application_cat, 1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [61]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'], 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\kalio\AppData\Local\Temp\ipykernel_12392\2910392310.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(['IS_SUCCESSFUL'], 1).values

In [62]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

### Optimisation 2: Adding more neurons & adding more hidden layers

In [63]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])

#Number of nodes per hidden layer
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 70
hidden_nodes_layer3 = 50

#Initiate model
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = 'tanh'))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = 'tanh'))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units = hidden_nodes_layer3, activation = 'tanh'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_10"
_________________________________________________________________

 Layer (type)                Output Shape              Param #
=================================================================
 dense_35 (Dense)            (None, 100)               4400

 dense_36 (Dense)            (None, 70)                7070

 dense_37 (Dense)            (None, 50)                3550

 dense_38 (Dense)            (None, 1)                 51

=================================================================
Total params: 15071 (58.87 KB)
Trainable params: 15071 (58.87 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [64]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

### Optimisation 3: Increasing the number of epochs

In [65]:
# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5715 - accuracy: 0.7223
Epoch 2/150
804/804 [==============================] - 1s 943us/step - loss: 0.5581 - accuracy: 0.7297
Epoch 3/150
804/804 [==============================] - 1s 958us/step - loss: 0.5556 - accuracy: 0.7306
Epoch 4/150
804/804 [==============================] - 1s 949us/step - loss: 0.5532 - accuracy: 0.7320
Epoch 5/150
804/804 [==============================] - 1s 954us/step - loss: 0.5510 - accuracy: 0.7318
Epoch 6/150
804/804 [==============================] - 1s 986us/step - loss: 0.5503 - accuracy: 0.7311
Epoch 7/150
804/804 [==============================] - 1s 958us/step - loss: 0.5487 - accuracy: 0.7329
Epoch 8/150
804/804 [==============================] - 1s 964us/step - loss: 0.5476 - accuracy: 0.7323
Epoch 9/150
804/804 [==============================] - 1s 951us/step - loss: 0.5469 - accuracy: 0.7341
Epoch 10/150
804/804 [==============================] - 1s 963us/step - loss: 0.5455 - accuracy: 0.7357
Epoch 11/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7348
Epoch 12/150
804/804 [==============================] - 1s 944us/step - loss: 0.5441 - accuracy: 0.7367
Epoch 13/150
804/804 [==============================] - 1s 908us/step - loss: 0.5438 - accuracy: 0.7371
Epoch 14/150
804/804 [==============================] - 1s 912us/step - loss: 0.5429 - accuracy: 0.7364
Epoch 15/150
804/804 [==============================] - 1s 923us/step - loss: 0.5426 - accuracy: 0.7369
Epoch 16/150
804/804 [==============================] - 1s 923us/step - loss: 0.5423 - accuracy: 0.7380
Epoch 17/150
804/804 [==============================] - 1s 954us/step - loss: 0.5415 - accuracy: 0.7365
Epoch 18/150
804/804 [==============================] - 1s 925us/step - loss: 0.5411 - accuracy: 0.7371
Epoch 19/150
804/804 [==============================] - 1s 912us/step - loss: 0.5410 - accuracy: 0.7384
Epoch 20/150
804/804 [==============================] - 1s 920us/step - loss: 0.5406 - accuracy: 0.7377
Epoch 21/150
804/804 [==============================] - 1s 960us/step - loss: 0.5402 - accuracy: 0.7379
Epoch 22/150
804/804 [==============================] - 1s 981us/step - loss: 0.5402 - accuracy: 0.7380
Epoch 23/150
804/804 [==============================] - 1s 914us/step - loss: 0.5393 - accuracy: 0.7391
Epoch 24/150
804/804 [==============================] - 1s 903us/step - loss: 0.5389 - accuracy: 0.7393
Epoch 25/150
804/804 [==============================] - 1s 929us/step - loss: 0.5387 - accuracy: 0.7390
Epoch 26/150
804/804 [==============================] - 1s 908us/step - loss: 0.5386 - accuracy: 0.7395
Epoch 27/150
804/804 [==============================] - 1s 903us/step - loss: 0.5380 - accuracy: 0.7392
Epoch 28/150
804/804 [==============================] - 1s 969us/step - loss: 0.5379 - accuracy: 0.7388
Epoch 29/150
804/804 [==============================] - 1s 912us/step - loss: 0.5380 - accuracy: 0.7394
Epoch 30/150
804/804 [==============================] - 1s 898us/step - loss: 0.5374 - accuracy: 0.7403
Epoch 31/150
804/804 [==============================] - 1s 909us/step - loss: 0.5375 - accuracy: 0.7406
Epoch 32/150
804/804 [==============================] - 1s 949us/step - loss: 0.5371 - accuracy: 0.7386
Epoch 33/150
804/804 [==============================] - 1s 949us/step - loss: 0.5366 - accuracy: 0.7404
Epoch 34/150
804/804 [==============================] - 1s 905us/step - loss: 0.5367 - accuracy: 0.7403
Epoch 35/150
804/804 [==============================] - 1s 917us/step - loss: 0.5366 - accuracy: 0.7399
Epoch 36/150
804/804 [==============================] - 1s 932us/step - loss: 0.5364 - accuracy: 0.7408
Epoch 37/150
804/804 [==============================] - 1s 917us/step - loss: 0.5362 - accuracy: 0.7409
Epoch 38/150
804/804 [==============================] - 1s 957us/step - loss: 0.5359 - accuracy: 0.7413
Epoch 39/150
804/804 [==============================] - 1s 915us/step - loss: 0.5363 - accuracy: 0.7393
Epoch 40/150
804/804 [==============================] - 1s 953us/step - loss: 0.5355 - accuracy: 0.7406
Epoch 41/150
804/804 [==============================] - 1s 909us/step - loss: 0.5357 - accuracy: 0.7402
Epoch 42/150
804/804 [==============================] - 1s 914us/step - loss: 0.5355 - accuracy: 0.7416
Epoch 43/150
804/804 [==============================] - 1s 939us/step - loss: 0.5355 - accuracy: 0.7410
Epoch 44/150
804/804 [==============================] - 1s 920us/step - loss: 0.5352 - accuracy: 0.7407
Epoch 45/150
804/804 [==============================] - 1s 913us/step - loss: 0.5352 - accuracy: 0.7409
Epoch 46/150
804/804 [==============================] - 1s 908us/step - loss: 0.5349 - accuracy: 0.7414
Epoch 47/150
804/804 [==============================] - 1s 917us/step - loss: 0.5352 - accuracy: 0.7410
Epoch 48/150
804/804 [==============================] - 1s 943us/step - loss: 0.5348 - accuracy: 0.7412
Epoch 49/150
804/804 [==============================] - 1s 955us/step - loss: 0.5346 - accuracy: 0.7415
Epoch 50/150
804/804 [==============================] - 1s 907us/step - loss: 0.5343 - accuracy: 0.7418
Epoch 51/150
804/804 [==============================] - 1s 905us/step - loss: 0.5342 - accuracy: 0.7413
Epoch 52/150
804/804 [==============================] - 1s 922us/step - loss: 0.5346 - accuracy: 0.7414
Epoch 53/150
804/804 [==============================] - 1s 915us/step - loss: 0.5340 - accuracy: 0.7413
Epoch 54/150
804/804 [==============================] - 1s 941us/step - loss: 0.5344 - accuracy: 0.7405
Epoch 55/150
804/804 [==============================] - 1s 900us/step - loss: 0.5342 - accuracy: 0.7415
Epoch 56/150
804/804 [==============================] - 1s 919us/step - loss: 0.5340 - accuracy: 0.7408
Epoch 57/150
804/804 [==============================] - 1s 920us/step - loss: 0.5339 - accuracy: 0.7418
Epoch 58/150
804/804 [==============================] - 1s 907us/step - loss: 0.5343 - accuracy: 0.7410
Epoch 59/150
804/804 [==============================] - 1s 941us/step - loss: 0.5337 - accuracy: 0.7423
Epoch 60/150
804/804 [==============================] - 1s 902us/step - loss: 0.5338 - accuracy: 0.7418
Epoch 61/150
804/804 [==============================] - 1s 920us/step - loss: 0.5336 - accuracy: 0.7414
Epoch 62/150
804/804 [==============================] - 1s 910us/step - loss: 0.5339 - accuracy: 0.7421
Epoch 63/150
804/804 [==============================] - 1s 904us/step - loss: 0.5334 - accuracy: 0.7408
Epoch 64/150
804/804 [==============================] - 1s 960us/step - loss: 0.5340 - accuracy: 0.7415
Epoch 65/150
804/804 [==============================] - 1s 932us/step - loss: 0.5335 - accuracy: 0.7414
Epoch 66/150
804/804 [==============================] - 1s 905us/step - loss: 0.5334 - accuracy: 0.7423
Epoch 67/150
804/804 [==============================] - 1s 902us/step - loss: 0.5334 - accuracy: 0.7420
Epoch 68/150
804/804 [==============================] - 1s 910us/step - loss: 0.5332 - accuracy: 0.7416
Epoch 69/150
804/804 [==============================] - 1s 966us/step - loss: 0.5329 - accuracy: 0.7420
Epoch 70/150
804/804 [==============================] - 1s 915us/step - loss: 0.5332 - accuracy: 0.7418
Epoch 71/150
804/804 [==============================] - 1s 932us/step - loss: 0.5332 - accuracy: 0.7424
Epoch 72/150
804/804 [==============================] - 1s 912us/step - loss: 0.5330 - accuracy: 0.7423
Epoch 73/150
804/804 [==============================] - 1s 925us/step - loss: 0.5333 - accuracy: 0.7422
Epoch 74/150
804/804 [==============================] - 1s 945us/step - loss: 0.5333 - accuracy: 0.7421
Epoch 75/150
804/804 [==============================] - 1s 909us/step - loss: 0.5326 - accuracy: 0.7418
Epoch 76/150
804/804 [==============================] - 1s 920us/step - loss: 0.5333 - accuracy: 0.7417
Epoch 77/150
804/804 [==============================] - 1s 920us/step - loss: 0.5334 - accuracy: 0.7407
Epoch 78/150
804/804 [==============================] - 1s 907us/step - loss: 0.5330 - accuracy: 0.7412
Epoch 79/150
804/804 [==============================] - 1s 969us/step - loss: 0.5328 - accuracy: 0.7416
Epoch 80/150
804/804 [==============================] - 1s 912us/step - loss: 0.5326 - accuracy: 0.7416
Epoch 81/150
804/804 [==============================] - 1s 923us/step - loss: 0.5332 - accuracy: 0.7416
Epoch 82/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7416
Epoch 83/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7430
Epoch 84/150
804/804 [==============================] - 1s 942us/step - loss: 0.5330 - accuracy: 0.7419
Epoch 85/150
804/804 [==============================] - 1s 955us/step - loss: 0.5325 - accuracy: 0.7421
Epoch 86/150
804/804 [==============================] - 1s 930us/step - loss: 0.5326 - accuracy: 0.7418
Epoch 87/150
804/804 [==============================] - 1s 920us/step - loss: 0.5326 - accuracy: 0.7424
Epoch 88/150
804/804 [==============================] - 1s 938us/step - loss: 0.5327 - accuracy: 0.7422
Epoch 89/150
804/804 [==============================] - 1s 966us/step - loss: 0.5322 - accuracy: 0.7415
Epoch 90/150
804/804 [==============================] - 1s 922us/step - loss: 0.5329 - accuracy: 0.7413
Epoch 91/150
804/804 [==============================] - 1s 919us/step - loss: 0.5326 - accuracy: 0.7418
Epoch 92/150
804/804 [==============================] - 1s 924us/step - loss: 0.5327 - accuracy: 0.7418
Epoch 93/150
804/804 [==============================] - 1s 979us/step - loss: 0.5325 - accuracy: 0.7416
Epoch 94/150
804/804 [==============================] - 1s 939us/step - loss: 0.5322 - accuracy: 0.7422
Epoch 95/150
804/804 [==============================] - 1s 917us/step - loss: 0.5322 - accuracy: 0.7421
Epoch 96/150
804/804 [==============================] - 1s 924us/step - loss: 0.5321 - accuracy: 0.7420
Epoch 97/150
804/804 [==============================] - 1s 933us/step - loss: 0.5321 - accuracy: 0.7416
Epoch 98/150
804/804 [==============================] - 1s 956us/step - loss: 0.5324 - accuracy: 0.7424
Epoch 99/150
804/804 [==============================] - 1s 919us/step - loss: 0.5326 - accuracy: 0.7420
Epoch 100/150
804/804 [==============================] - 1s 917us/step - loss: 0.5322 - accuracy: 0.7423
Epoch 101/150
804/804 [==============================] - 1s 929us/step - loss: 0.5321 - accuracy: 0.7418
Epoch 102/150
804/804 [==============================] - 1s 979us/step - loss: 0.5322 - accuracy: 0.7425
Epoch 103/150
804/804 [==============================] - 1s 981us/step - loss: 0.5323 - accuracy: 0.7429
Epoch 104/150
804/804 [==============================] - 1s 933us/step - loss: 0.5325 - accuracy: 0.7421
Epoch 105/150
804/804 [==============================] - 1s 929us/step - loss: 0.5319 - accuracy: 0.7421
Epoch 106/150
804/804 [==============================] - 1s 927us/step - loss: 0.5320 - accuracy: 0.7416
Epoch 107/150
804/804 [==============================] - 1s 924us/step - loss: 0.5324 - accuracy: 0.7417
Epoch 108/150
804/804 [==============================] - 1s 964us/step - loss: 0.5320 - accuracy: 0.7419
Epoch 109/150
804/804 [==============================] - 1s 927us/step - loss: 0.5319 - accuracy: 0.7413
Epoch 110/150
804/804 [==============================] - 1s 940us/step - loss: 0.5315 - accuracy: 0.7420
Epoch 111/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7418
Epoch 112/150
804/804 [==============================] - 1s 972us/step - loss: 0.5319 - accuracy: 0.7414
Epoch 113/150
804/804 [==============================] - 1s 946us/step - loss: 0.5324 - accuracy: 0.7420
Epoch 114/150
804/804 [==============================] - 1s 953us/step - loss: 0.5321 - accuracy: 0.7417
Epoch 115/150
804/804 [==============================] - 1s 940us/step - loss: 0.5322 - accuracy: 0.7415
Epoch 116/150
804/804 [==============================] - 1s 927us/step - loss: 0.5317 - accuracy: 0.7412
Epoch 117/150
804/804 [==============================] - 1s 990us/step - loss: 0.5315 - accuracy: 0.7422
Epoch 118/150
804/804 [==============================] - 1s 929us/step - loss: 0.5316 - accuracy: 0.7416
Epoch 119/150
804/804 [==============================] - 1s 944us/step - loss: 0.5319 - accuracy: 0.7418
Epoch 120/150
804/804 [==============================] - 1s 920us/step - loss: 0.5318 - accuracy: 0.7418
Epoch 121/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7423
Epoch 122/150
804/804 [==============================] - 1s 934us/step - loss: 0.5317 - accuracy: 0.7425
Epoch 123/150
804/804 [==============================] - 1s 927us/step - loss: 0.5312 - accuracy: 0.7426
Epoch 124/150
804/804 [==============================] - 1s 925us/step - loss: 0.5316 - accuracy: 0.7423
Epoch 125/150
804/804 [==============================] - 1s 932us/step - loss: 0.5319 - accuracy: 0.7423
Epoch 126/150
804/804 [==============================] - 1s 977us/step - loss: 0.5319 - accuracy: 0.7426
Epoch 127/150
804/804 [==============================] - 1s 941us/step - loss: 0.5319 - accuracy: 0.7420
Epoch 128/150
804/804 [==============================] - 1s 941us/step - loss: 0.5316 - accuracy: 0.7423
Epoch 129/150
804/804 [==============================] - 1s 925us/step - loss: 0.5313 - accuracy: 0.7424
Epoch 130/150
804/804 [==============================] - 1s 981us/step - loss: 0.5314 - accuracy: 0.7425
Epoch 131/150
804/804 [==============================] - 1s 924us/step - loss: 0.5317 - accuracy: 0.7422
Epoch 132/150
804/804 [==============================] - 1s 939us/step - loss: 0.5314 - accuracy: 0.7428
Epoch 133/150
804/804 [==============================] - 1s 909us/step - loss: 0.5317 - accuracy: 0.7428
Epoch 134/150
804/804 [==============================] - 1s 945us/step - loss: 0.5311 - accuracy: 0.7421
Epoch 135/150
804/804 [==============================] - 1s 946us/step - loss: 0.5313 - accuracy: 0.7426
Epoch 136/150
804/804 [==============================] - 1s 905us/step - loss: 0.5320 - accuracy: 0.7424
Epoch 137/150
804/804 [==============================] - 1s 907us/step - loss: 0.5316 - accuracy: 0.7429
Epoch 138/150
804/804 [==============================] - 1s 925us/step - loss: 0.5316 - accuracy: 0.7428
Epoch 139/150
804/804 [==============================] - 1s 965us/step - loss: 0.5314 - accuracy: 0.7424
Epoch 140/150
804/804 [==============================] - 1s 927us/step - loss: 0.5315 - accuracy: 0.7428
Epoch 141/150
804/804 [==============================] - 1s 946us/step - loss: 0.5316 - accuracy: 0.7425
Epoch 142/150
804/804 [==============================] - 1s 941us/step - loss: 0.5312 - accuracy: 0.7427
Epoch 143/150
804/804 [==============================] - 1s 913us/step - loss: 0.5327 - accuracy: 0.7414
Epoch 144/150
804/804 [==============================] - 1s 971us/step - loss: 0.5312 - accuracy: 0.7418
Epoch 145/150
804/804 [==============================] - 1s 929us/step - loss: 0.5317 - accuracy: 0.7431
Epoch 146/150
804/804 [==============================] - 1s 943us/step - loss: 0.5319 - accuracy: 0.7428
Epoch 147/150
804/804 [==============================] - 1s 925us/step - loss: 0.5319 - accuracy: 0.7421
Epoch 148/150
804/804 [==============================] - 1s 977us/step - loss: 0.5313 - accuracy: 0.7428
Epoch 149/150
804/804 [==============================] - 1s 915us/step - loss: 0.5317 - accuracy: 0.7427
Epoch 150/150
804/804 [==============================] - 1s 925us/step - loss: 0.5315 - accuracy: 0.7427

In [66]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5586 - accuracy: 0.7264 - 247ms/epoch - 923us/step
Loss: 0.5586339235305786, Accuracy: 0.7264139652252197

In [67]:
# Export our model to HDF5 file
filepath = 'AlphabetSoupCharity_Optimisation.h5'
nn_model.save(filepath, overwrite=True, save_format='h5')

c:\Users\kalio\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(